# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main



pool:
  vmImage: ubuntu-latest
steps:
- task: AzureKeyVault@2
  inputs:
    azureSubscription: 'Pay-As-You-Go (8fe6154c-f342-462d-8fea-11968363d989)'
    KeyVaultName: 'devops1234'
    SecretsFilter: 'devops1'
    RunAsPreJob: false

- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Pay-As-You-Go (8fe6154c-f342-462d-8fea-11968363d989)'
    subscriptionId: '8fe6154c-f342-462d-8fea-11968363d989'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'test-demo'
    location: 'East US'
    templateLocation: 'Linked artifact'
    csmFile: 'linux.tf'
    deploymentMode: 'Incremental'


- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
